{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=5432;Database=WebShopDb;Username=postgres;Password=postgres"
  },
  "Jwt": {
    "Secret": "replace-with-a-random-secret-at-least-32-bytes-long",
    "Issuer": "WebShop.Api",
    "Audience": "WebShop.Client"
  }
}
